body {
  background-color: #fdf1ec;
}

.wrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;

  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.book-img {
  float: left;
  height: 420px;
  width: 327px;
}

.book-img img {
  border-radius: 7px 0 0 7px;
}

.book-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.book-text {
  height: 300px;
  width: 327px;
}

.book-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.book-text h1,
.book-price-btn p {
  font-family: "Bentham", serif;
}

.book-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.book-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.book-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.book-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: "Trocchi", serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
}

.book-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 110px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #00b4cc;
  cursor: pointer;
  outline: none;
}

.book-price-btn button:hover {
  background-color: #396bf3;
}

.book-category-btn button {
  width: 10%;
  position: relative;
  top: 40px;
  left: 40%;
  margin: 2px;
  transform: translate(-50%, -50%);

  text-align: center;
  height: 50px;
  box-sizing: border-box;
  border: transparent;
  background-color: #00b4cc;

  border-radius: 10px;
  color: #ffffff;
  letter-spacing: 0.2em;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.book-category-btn button:hover {
  background-color: #396bf3;
}

/*SEARCH STUFF */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #6e8178;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.searchWrap {
  width: 30%;
  position: relative;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

/*SEARCH STUFF END*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*
Details page styling
*/
.wrapper1 {
  height: 420px;
  width: 1600px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img1 {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img1 img {
  border-radius: 7px 0 0 7px;
}

.product-info1 {
  float: left;
  height: 420px;
  width: 1270px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text1 {
  height: 300px;
  width: 1173px;
  text-align: center;
}

.product-text1 h1 {
  margin: 0 0 0 0px;
  font-size: 34px;
  color: #000000;
}

.product-text1 h1,
.product-price-btn p {
  font-family: "Bentham", serif;
}

.product-text1 h2 {
  margin: 0 0 47px 38px;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #a8a7a7;
  letter-spacing: 0.2em;
}

.product-text1 p {
  height: 45px;
  margin: 0 0 0 38px;
  font-family: "Playfair Display", serif;
  color: #000000;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn1 {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
  float: right;
}

.product-price-btn1 p {
  display: flex;
  position: absolute;
  top: 13px;
  height: 50px;
  font-family: "Trocchi", serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #000000;
}

.product-price-btn1 button {
  height: 50px;
  width: 176px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #00b4cc;
  cursor: pointer;
  outline: none;
}

.product-price-btn1 button:hover {
  background-color: #396bf3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Styling for basket*/

total-cart{
  text-align: right;
  position: relative;
  height: 30px;
  width: 327px;
  left: 870px;
}

.funtional-buttons{
  background: #9cebd5;
  border: 0;
  margin: 10px 5px 0 5px;
  width: 5%;
  position: relative;
  height: 45px;
  width: 120px;
  top: 90px;
  right: 400px;
  text-align: center;

}


.plus-button{
  background: #9cebd5;
  border: 0;
  padding: 20px;
  margin: 10px 5px 0 5px;
  width: 5%;
  outline: none;
  border-radius: 3px;
  color: #703688;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  left: 475px;
  position: relative;

}

.product-text2{
  height: 100px;
  width: 1173px;
  text-align: center;
}